.horario-contenedor h1 {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.rbc-calendar {
	background-color: var(--background1);
	height: 100vh;
}

.rbc-event {
	background-color: var(--main-color-dark);
}
.rbc-event-content {
	background-color: var(--main-color-dark);
	border-style: none;
}
.rbc-today {
	background-color: #aefdf0;
}
.rbc-header {
	text-transform: uppercase;
}
.rbc-toolbar-label {
	text-transform: uppercase;
}
