.lds-dual-ring {
	display: block;
	margin: 10px 10px;
	width: 160px;
	height: 160px;
	margin: 0 auto;
}
.lds-dual-ring:after {
	content: ' ';
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 7px solid var(--main-color-dark);
	border-color: var(--main-color-dark) transparent transparent var(--main-color-dark);
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
