.paciente-menu-citas-fila {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20% 20%;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	margin-bottom: 30px;
	/* background-color: red; */
}

.paciente-menu-citas-fila a {
	cursor: pointer;
}

.paciente-menu-citas-fila a img {
	transform: translateY(5px);
}

.paciente-menu-citas-fila p:nth-child(4) {
	width: 160px;
	word-wrap: break-word;
	text-align: center;
	justify-self: center;
}
